* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.title-main {
    text-shadow: 
        2px 2px 5px rgb(245, 0, 0),  /* Shadow to the right and bottom */
        -2px -2px 5px rgb(94, 255, 0), /* Shadow to the left and top */
        2px -2px 5px rgb(0, 47, 255),  /* Shadow to the top right */
        -2px 2px 5px rgb(238, 255, 0); 
    color: white;
    font-size: 80px;
    font-weight: bold;
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
}

#container {
    justify-content: center;
    gap: 10px;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    min-height: 95vh;
    margin: 10px;
    padding: 10px;
    align-content: center;
}

.one {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    width: 610px;
    background-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 15px 1px rgb(255, 0, 0);
}

.two {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    background-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 15px 1px rgb(255, 174, 0);
}

.three {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    background-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 15px 1px rgb(255, 251, 0);
}

.four {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    width: 610px;
    background-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 15px 1px rgb(0, 255, 42);
}

.five {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    background-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 15px 1px rgb(0, 153, 255);
}

.six {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    background-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 15px 1px rgb(162, 0, 255);
}

.seven {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    width: 610px;
    background-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 15px 1px rgb(255, 0, 221);
}

.eight {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    width: 610px;
    background-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 15px 1px rgb(0, 255, 255);
}

.oytest {
    background-color: red;
}

.button-forall {
    align-self: center;
    justify-self: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.box-text-real {
    margin: 10px;
    text-align: center;
}

.hover-for-btn {
    transition: .3s ease-in-out;
}

.hover-for-btn:hover {
    transform: scale(1.1);
}

.box-text {
    margin-top: 10px;
}
.one, .two, .three, .four, .five, .six, .seven, .eight {
    flex-grow: 1; /* Makes the box expand to fill available space */
}


@media (max-width: 630px) {
    .title-main {
        font-size: 50px;
    }
}