* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    background: linear-gradient(black, rgb(1, 2, 36), rgb(0, 0, 95), rgb(6, 207, 243));
}

#landing-page {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.landing-page-main {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.landing-page-main-text {
    text-align: center;
    color: white;
    align-self: end;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: 1 / 1 / 2 / 2;
}

.moon-clipart {
    position: absolute;
    top: -50px;
    left: -150px; /* Adjusted to prevent overflow */
    z-index: -1;
    opacity: 40%;
    max-width: 100%;
}

.landing-page-main-button-contact {
    height: fit-content;
    width: fit-content;
    padding: 15px 20px;
    align-self: center;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: rgb(64, 83, 255);
    position: relative;
    box-shadow: 0 0 10px rgba(64, 83, 255, 0.7);
    cursor: pointer;
    color: white;
}

.landing-page-side-text {
    text-align: center;
    color: white;
    font-size: 30px;
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: 2 / 1 /3 /2;
}

.landing-page-intersetellar-quote {
    grid-area: 2 / 1 / 3 / 2;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: end;
    text-align: center;
}

.quote-bold {
    font-weight: 900;
}

.about-page {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.about-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 20px;
    justify-self: center;
}

.about1 {
    height: 80%;
    width: 90%;
    grid-area: 1 / 1 / 2 / 2;
    margin: 15px;
    border-radius: 8px;
    align-self: end;
    justify-self: center;
}

.about1-text {
    color: white;
    padding-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    text-align: center;
    align-self: end;
    align-content: end;
    justify-items: end;
    grid-area: 1 / 1 / 2 / 2;
}

.blackhole {
    grid-area: 2 / 1 / 3 / 2;
    height: 200px;
    width: 200px;
    object-fit: cover;
    justify-self: center;
    align-self: center;
    border-radius: 100px;
    position: relative;
    box-shadow: 0 0 50px rgba(64, 83, 255, 0.7);
    z-index: 1;
}

#projects {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.plane {
    height: 300px;
    grid-area: 2 / 2 / 3 / 3;
    align-self: end;
    justify-self: center;
}
